*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 10px;
  /* background-color: red; */
}

.container {
  text-align: center;
}

.top-row{
  margin-bottom: 10px;
}


.box{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.box .sale{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  /*z-index: 1;*/
}

.heart{
  position: absolute;
  bottom: 0;
  left: 50%;
  color: red;
  padding: 7px;
  text-align: center;
  display: none;
  font-size: 2em;
}
.box:hover .heart{
  display: block;
}
.box:nth-child(2) .sale{
  background-color: red;
}
